.colors {
  font-size: 60px !important;
  font-weight: 900 !important;
}

.fly-in-text {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
  display: inline-block;
  margin-right: 20px;
  font-family: Open Sans, Arial;
  font-weight: 300;
  font-size: 5em;

  opacity: 1;
  transition: all 2.5s ease;
}

@media screen and (max-width: 1275px) {
  .fly-in-text li {
    margin-right: 30px;
    font-weight: 300;
    font-size: 3em;
  }
}

@media screen and (max-width: 900px) {
  .fly-in-text li {
    display: block;
    margin-right: 20px;
    font-weight: 300;
    font-size: 3em;
  }
}

@media screen and (max-width: 768px) {
  .fly-in-text li {
    display: block;
    margin-right: 20px;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
  }
}

.fly-in-text li:last-child {
  margin-right: 0;
}

.fly-in-text.hidden li {
  opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
  transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(6) {
  transform: translateX(80px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(30px) translateY(200px);
}

.colors {
  animation: colorChange 7s infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(255, 0, 0);
  }

  10% {
    color: rgb(255, 102, 0);
  }

  20% {
    color: rgb(229, 255, 0);
  }

  30% {
    color: rgb(34, 255, 0);
  }

  40% {
    color: rgb(0, 229, 255);
  }

  50% {
    color: rgb(0, 42, 255);
  }

  60% {
    color: rgb(76, 0, 255);
  }

  70% {
    color: rgb(183, 0, 255);
  }

  80% {
    color: rgb(230, 0, 255);
  }

  90% {
    color: rgb(255, 0, 140);
  }

  100% {
    color: rgb(255, 0, 0);
  }
}